
<nav class="d-flex row mx-auto">
    <div class="d-flex row mx-auto">
        <button mat-button class="nav-item active" (click)="scroll(home);">
            <p>Home</p>
            <div></div>
        </button>
        <button mat-button class="nav-item" (click)="scroll(about);">
            <p>About</p>
            <div></div>
        </button>
        <button mat-button class="nav-item" (click)="scroll(factory);">
            <p>Factory</p>
            <div></div>
        </button>
        <button mat-button class="nav-item" (click)="scroll(myCoins);">
            <p>My coins</p>
            <div></div>
        </button>
    </div>
    <div class="connect">
        <m-web3-modal
        buttonTitle="Connect"
        description="Connect wallet"
        ></m-web3-modal>
    </div>
</nav>
<button mat-button class="menu-link menu-end" (click)="changeTheme()">
    <mat-icon>{{ darkMode ? 'wb_sunny' : 'brightness_3' }}</mat-icon>
    <span>{{ darkMode ? 'Light' : 'Dark' }} theme</span>
</button>
<ng-content></ng-content>