@use '@angular/material' as mat;
@import './palette';

@include mat.core();

$light-primary: mat.define-palette($md-indigodye);
$light-accent: mat.define-palette($md-persianplum);
$light-warn: mat.define-palette($md-fulvous);
$light-theme: mat.define-light-theme((
	color: (
		primary: $light-primary,
		accent: $light-accent,
		warn: $light-warn,
	)
));

@include mat.core-theme($light-theme);
@include mat.button-theme($light-theme);
@include mat.toolbar-theme($light-theme);
@include mat.sidenav-theme($light-theme);


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-drawer-container {
	background-color: map-get($md-indigodye, 500);
}

.mat-drawer-inner-container {
	display: flex;
	flex-direction: column;
	background-color: map-get($md-indigodye, 500);

	.menu-link {
		.mat-button-wrapper {
			display: flex;
			height: 100%;
			align-items: center;
			margin-left: 0.5rem;
		}
	}
}
