@use '@angular/material' as mat;
@import './palette';

@include mat.core();

$light-primary: mat.define-palette($md-blue);
$light-accent: mat.define-palette($md-purple);
$light-warn: mat.define-palette($md-red);

$light-theme: mat.define-light-theme((
	color: (
		primary: $light-primary,
		accent: $light-accent,
		warn: $light-warn,
	)
));

@include mat.core-theme($light-theme);
@include mat.button-theme($light-theme);
@include mat.toolbar-theme($light-theme);
@include mat.sidenav-theme($light-theme);
@include mat.form-field-theme($light-theme);
@include mat.progress-spinner-theme($light-theme);


html, body { height: 100%; }
body { margin: 0; }

* {
	font-family: 'Poppins';
	font-style: normal;
}

.mat-list-item-content {
	justify-content: space-between;
}

.menu-link {
	.mat-button-wrapper {
		display: flex;
		height: 100%;
		align-items: center;
		margin-left: 0.5rem;
	}
}
