<div class="m-modal">
  <div class="m-modal-bg" (click)="close($event)"></div>
  <div class="m-modal-container">
    <div class="m-web3Modal">
      <div class="m-web3Modal__header">
        <h3 class="m-web3ModalHeader__title">
          {{ title }}
        </h3>
        <div class="m-web3ModalHeader__description">
          <p class="m-web3ModalHeader__text">
            {{ description }}
          </p>
        </div>
      </div>
      <div class="m-web3Modal__body">
        <div class="m-web3ModalBody__provider">
          <div
            class="m-web3ModalProvider__body"
            *ngIf="providers && showMetamaskDownload"
            (click)="openMetamaskDownloadPage()"
          >
            <div class="m-web3ModalProviderBody__icon--custom">
              <m-web3-modal-metamask-logo></m-web3-modal-metamask-logo>
            </div>
            <div class="m-web3ModalProviderBody__name">MetaMask</div>
          </div>
          <div
            class="m-web3ModalProvider__body"
            *ngFor="let provider of providers"
            (click)="provider.onClick()"
          >
            <div class="m-web3ModalProviderBody__icon">
              <img src="/assets/{{provider.name}}.svg" alt="/assets/{{provider.name}}.svg" />
            </div>
            <div class="m-web3ModalProviderBody__name">
              {{ provider.name }}
            </div>
          </div>
        </div>
      </div>
      <div class="m-web3Modal__footer">
        <button class="btn-footer" mat-button (click)="close($event)">{{ dismissText }} </button>
      </div>
    </div>
  </div>
</div>
