<button #connectButton *ngIf="!account" mat-raised-button color="accent" class="w-24 2xl:w-44 h-8 2xl:h-12 m-2 overflow-hidden whitespace-nowrap text-ellipsis rounded-2xl" (click)="connect()">
  <span class="text-white">{{ buttonTitle }}</span>
</button>
<button #connectButton *ngIf="account" mat-raised-button color="accent" class="w-24 2xl:w-44 h-8 2xl:h-12 m-2 overflow-hidden whitespace-nowrap text-ellipsis rounded-2xl">
  <span class="text-white">{{ account }}</span>
</button>
<div [hidden]="!open">
  <div class="fixed w-full h-full inset-0 cursor-pointer bg-black/[0.6]" (click)="close($event)"></div>
  <div class="fixed left-2/4 top-2/4 rounded-md bg-accent -translate-x-2/4 -translate-y-2/4">
    <div class="flex flex-row justify-between items-center mt-5 ml-6 mr-3 mb-0">
      <div>
        <p class="font-semibold text-base">{{ description }}</p>
      </div>
      <button mat-icon-button (click)="close($event)">
        <mat-icon>close</mat-icon>
      </button>
    </div>
    <div class="flex flex-row justify-evenly pt-5 px-12 pb-10">
        <button mat-raised-button color="accent" class="flex flex-col justify-center items-center w-36 h-32" *ngFor="let p of providers" (click)="p.onClick()">
          <div class="h-14">
            <img src="{{p.logo}}" alt="{{p.logo}}" class="w-full h-full" />
          </div>
          <div class="mt-3 font-semibold text-base text-white">{{ p.name }}</div>
        </button>
    </div>
  </div>
</div>
