@import '../../styles';

.m-web3Modal__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px 0;

  .m-web3ModalHeader__text {
    font-weight: 600;
    font-size: 16px;
  }

  .modal-close {
    margin-right: -8px;
  }
}

.m-web3Modal__body {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 20px 50px 40px;
  max-height: 420px;
}

.btn-provider {
  display: flex !important;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 145px;
  height: 135px;
  background-color: transparent;
}

.m-web3ModalProviderBody__name {
  margin-top: 12px;
  font-weight: 600;
  font-size: 15px;
  color: #ffffff;
}

.m-web3ModalProviderBody__icon {
  height: 60px;

  & img {
    width: 100%;
    height: 100%;
  }
}

.m-modal {
  .m-modal-bg {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.8);
  }

  .m-modal-container {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 6px;
    background-color: map-get($light-primary, 500);
  }
}
