<button #connectButton *ngIf="!account" mat-raised-button color="accent" class="w-24 2xl:w-44 h-8 2xl:h-12 m-2 overflow-hidden whitespace-nowrap text-ellipsis rounded-2xl" (click)="connect()">{{ buttonTitle }}</button>
<button #connectButton *ngIf="account" mat-raised-button color="accent" class="w-24 2xl:w-44 h-8 2xl:h-12 m-2 overflow-hidden whitespace-nowrap text-ellipsis rounded-2xl">{{ account }}</button>
<div class="m-modal" [hidden]="!open">
  <div class="m-modal-bg" (click)="close($event)"></div>
  <div class="m-modal-container">
    <div class="m-web3Modal__header">
      <div>
        <p class="m-web3ModalHeader__text">{{ description }}</p>
      </div>
      <button class="modal-close" mat-icon-button (click)="close($event)">
        <mat-icon>close</mat-icon>
      </button>
    </div>
    <div class="m-web3Modal__body">
        <button mat-raised-button class="btn-provider" *ngFor="let p of providers" (click)="p.onClick()">
          <div class="m-web3ModalProviderBody__icon">
            <img src="{{p.logo}}" alt="{{p.logo}}" />
          </div>
          <div class="m-web3ModalProviderBody__name">{{ p.name }}</div>
        </button>
    </div>
  </div>
</div>
