@import '../../styles';

.home-container, .about-container, .factory-container, .my-coins-container {
	display: flex;
	height: calc(100% - 64px);
	padding-top: 64px;
	max-width: 1200px;
	margin: auto;
}

.home-container {
	padding-top: 0;
}

.header {
	width: 90%;
	margin: auto;
	// box-shadow: 0px 3px 5px -1px rgb(0 0 0 / 20%), 0px 6px 10px 0px rgb(0 0 0 / 14%), 0px 1px 18px 0px rgb(0 0 0 / 12%);
	background-color: map-get($light-secondary, 500);
	color: map-get($light-text, 500);
}

.coin-container {
	display: flex;
	flex-direction: column;
	padding: 1rem;
	width: 80%;
	max-height: 100%;
	font-size: 2rem;

	.coins-2 {
		font-size: 3rem;
		margin: 0;
	}

	mat-list {
		max-height: 300px;
		font-size: 1rem;

		.coin-row {
			display: flex;
			flex-direction: row;
			justify-content: space-around;
			margin-bottom: 1rem;
		}
	}
}

.viewport {
	height: 300px;
}

.home-container {
	flex-direction: column;
	margin-top: -64px;
	

	div {
		text-align: center;
	}

	p {
		text-align: center;
	}
}

mat-form-field {
	margin-right: 1rem;
}

.d-flex {
	display: flex;
}

.row {
	flex-direction: row;
}

.col {
	flex-direction: column;
}

.text-center {
	text-align: center;
}

.jc-around {
	justify-content: space-around;
}