.home-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: calc(100% - 64px);

	div {
		text-align: center;
	}

	p {
		text-align: center;
	}
}

mat-form-field {
	margin-right: 1rem;
}

.about-container {
	display: flex;
	height: calc(100% - 64px);
	margin-top: 64px;
}
