<app-navbar [home]=home [about]=about [factory]=factory>
    <div #home class="home-container">
    <mat-grid-list cols="3" rowHeight="50%">
        <mat-grid-tile [colspan]=3 [rowspan]=1>
            <div class="header">
                <div>
                    <h1>Shitcoin Factory</h1>
                </div>
                <p>Have a shitcoin of your own</p>
            </div>
        </mat-grid-tile>
        <mat-grid-tile [colspan]=1 [rowspan]=1 style.background="red">
            <div class="coin-container">
                <p class="coins-1">Our factory created</p>
                <p class="coins-2">{{ numberOfCoins }}</p>
                <p class="coins-1">shitcoins so far.</p>
            </div>
        </mat-grid-tile>
        <mat-grid-tile [colspan]=2 [rowspan]=1 style.background="green">
            <div class="coin-container">
                <p>Shitcoins</p>
                <mat-divider></mat-divider>
                <mat-list>
                    <mat-list-item *ngFor="let coin of coins">
                        <div>{{ coin.name }}</div>
                    </mat-list-item>
                </mat-list>
            </div>
        </mat-grid-tile>
    </mat-grid-list>
    </div>
    <div #about class="about-container">
        <p>About</p>
    </div>
    <div #factory class="factory-container">
        <form id="form">
            <div>
                <mat-form-field appearance="fill">
                    <mat-label>Name</mat-label> 
                    <input matInput type="text" [(ngModel)]="name" name="name" />
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>Symbol</mat-label> 
                    <input matInput type="text" [(ngModel)]="symbol" name="symbol" />
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>Total suply</mat-label> 
                    <input matInput type="number" [(ngModel)]="totalSupply" name="supply" placeholder="0" />
                </mat-form-field>
            </div>
            <div>
                <button mat-raised-button (click)="mint()" color="primary">Mint</button>
            </div>
       </form>
    </div>
</app-navbar>
