
.home-container, .about-container, .factory-container {
	display: flex;
	height: calc(100% - 64px);
	padding-top: 64px;
}

.home-container {
	flex-direction: column;
	justify-content: center;
	margin-top: -64px;

	div {
		text-align: center;
	}

	p {
		text-align: center;
	}
}

mat-form-field {
	margin-right: 1rem;
}
